.o_web_client .mis_builder_amount {
    text-align: right;
}

.o_web_client .mis_builder_collabel {
    text-align: center;
}

.o_web_client .mis_builder_rowlabel {
    text-align: left;
}

.o_web_client .mis_builder a {
    /* we don't want the link color, to respect user styles */
    color: inherit;
}

.o_web_client .mis_builder a:hover {
    /* underline links on hover to give a visual cue */
    text-decoration: underline;
}

.oe_mis_builder_content {
    padding: 10px;
}

.oe_mis_builder_analytic_filter_box, .oe_mis_builder_additional_filter_box {
    padding: 10px 10px 10px 0;
    background: transparent;
}

.oe_mis_builder_buttons {
    padding: 16px 10px 10px 0;
}

.oe_mis_builder_analytic_filter_box .o_field_widget,
.oe_mis_builder_additional_filter_box .o_field_widget {
    padding: 8px 0 0 14px;
    width: 260px !important;
}

.oe_mis_builder_analytic_filter_box.o_form_view.oe_left,
.oe_mis_builder_additional_filter_box.o_form_view.oe_left {
    max-width:280px !important;
}

.o_web_client .mis_builder_amount:hover .hidden_icon {
    display: block;
    float: right;
    margin-left: 5px;
}

.o_web_client .hidden_icon {
    display: none;
}
